@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
    src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/glyphicons-halflings-regular.woff) format('woff'),
    url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),
    url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

#volume-container{
    width: 180px;
}

#volume-slider{
    display: inline;
    width: 120px;
}

#volume-slider{
    vertical-align: center;
}

.audiojs{
    float: left !important;
}

#extended-controls-pre,
#extended-controls-post {
    float: left;
    background-color: #404040;
    height: 36px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
    background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
}

#extended-controls-pre{
    padding-left: 0.5em;
    padding-right: 0.25em;
}

#extended-controls-post{
    padding: 0 0.5em;
}

#extended-controls-pre .glyphicon,
#extended-controls-post .glyphicon {
    color: white;
    padding: 10px 3px;
}

p.play,
p.pause{
    margin: 5px 0;
    background: none !important;
}

p.loading,
p.error{
    margin-left: -4px;
}

p.pause {
    margin-left: -2px;
}

p.play:after{
    color: white;
    font-family: "Glyphicons Halflings";
    content: "\e072";
}

p.pause:after{
    color: white;
    padding: 10px 3px;
    font-family: "Glyphicons Halflings";
    content: "\e073";
}

#playlist a{
    color: #eee;
}

#playlist{
    margin: 0 3em;
}

#playlist-container{
    width: 675px;
    padding: 2em 3em;
    margin: 0 auto;
}

#playlist-info-container{
    font-style: italic;
    margin-bottom: 1em;
}

#playlist-info-container span{
  font-weight: bold;
      color: #fff;
}

ol { padding: 0px; margin: 0px; list-style: decimal-leading-zero inside; color: #aaa; border-top: 1px solid #aaa; font-size: 16px;}
ol li { position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #aaa; cursor: pointer; }
ol li a { display: inline; text-indent: -3.3ex; padding: 0px 0px 0px 20px; }
li.playing { color: #999; }
li.playing a { color: #777; font-size: 18px;}
li.playing:before { font-family: "Glyphicons Halflings"; content: "\e002"; vertical-align: center; width: 14px; height: 14px; padding: 0px; line-height: 14px; margin: 0px; position: absolute; left: -28px; top: 13px; color: #999; font-size: 13px; }
span.track-duration{
  display: block;
  float: right;
  margin: 0 2em;
}

/* below is all for the ugly default range element */
/* this enhancement is modfied from http://codepen.io/aronwoost/pen/nlyrf */
input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 10px;
  margin: 0 0.5em;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #232528;
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 14px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}