html,
body {
  background: #ffffff;
}
body {
  padding-top: 120px;
}
@media (max-width: 991px) {
  body {
    padding-top: 109px;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}
a:hover,
a:active,
a:focus {
  color: #19c355;
  outline: none;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.btn {
  -webkit-transition: background 150ms ease;
  -moz-transition: background 150ms ease;
  -ms-transition: background 150ms ease;
  -o-transition: background 150ms ease;
  transition: background 150ms ease;
}
.btn,
.btn:hover,
.btn:focus {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 36px;
  height: 50px;
  text-decoration: none;
  color: #ffffff;
  border-color: #19c355;
  border-radius: 22px;
  background: #19c355;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.btn:hover,
.btn:focus {
  background: #34db47;
}
.btn-default {
  width: 270px;
}
.btn-xs,
.btn-xs:hover,
.btn-xs:focus {
  font-size: 14px;
  line-height: 20px;
  height: 24px;
  border-radius: 9px;
}
.btn-xs:hover,
.btn-xs:focus {
  border-color: transparent;
}
.btn-sm,
.btn-sm:hover,
.btn-sm:focus {
  font-size: 18px;
  line-height: 28px;
  height: 40px;
  border-radius: 18px;
}
.btn-sm:hover,
.btn-sm:focus {
  border-color: transparent;
}
.btn-link {
  color: #2491d0;
  border-color: transparent;
  background: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #035784;
  background: #e2e7ed;
  outline: none;
}
.btn-link._hover {
  border-color: #e2e7ed;
  background: #e2e7ed;
}
.btn-link._hover:hover,
.btn-link._hover:focus {
  color: #ffffff !important;
  background: #2491d0;
  outline: none;
}
.btn-link.active,
.btn-link.active:hover,
.btn-link.active:focus {
  cursor: default;
  border-color: #056ca1;
  background: transparent;
}
li.active .btn-link {
  cursor: default;
  border-color: #056ca1;
  background: transparent;
}
.navbar-default {
  margin-bottom: 0;
  color: #035784;
  border: none;
  border-radius: 0;
  background: #ffffff;
  box-shadow: none;
}
.navbar-default:hover,
.navbar-default:focus,
.navbar-default .btn-link,
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #035784;
}
.navbar-default .navbar-toggle {
  border-color: #056ca1;
  border-radius: 18px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #e2e7ed;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #035784;
}
.navbar-default .navbar-collapse {
  border-color: #e2e7ed;
}
.navbar-toggle {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #056ca1;
  background: 0 0;
}
/*Header Styles*/
.header {
  max-height: 120px;
}
.header-logo {
  width: 302px;
  height: 70px;
  margin: 25px 0 25px 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header-logo-a {
  display: inline-block;
  width: 302px;
  height: 70px;
  background: url(../img/layout/logo_header.svg) left center no-repeat #ffffff;
}
.header-logo-a.-bg_size {
  background-size: 302px 70px;
}
.header-contacts {
  padding-bottom: 10px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header-contacts :nth-child(n) {
  margin: 10px 0 0 10px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header-contacts-phone,
.header-contacts-phone:hover,
.header-contacts-phone:focus {
  font-size: 18px;
  font-weight: 600;
  color: #035784;
  background: transparent;
}
.header-contacts-email {
  width: 110px;
  color: #2491d0 !important;
}
._navbar-item,
._navbar-item:hover,
._navbar-item:focus {
  font-family: "Lato", sans-serif;
  width: 100px;
}
._navbar :nth-child(n) {
  margin: 5px 0 5px 10px;
}
._navbar :first-child {
  margin-left: 0;
}
.header-navbar {
  padding: 11px 0 15px 0;
  height: 45px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.nav > li {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.nav > li a {
  padding: 5px 10px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.minified .nav > li {
  margin-top: 0;
  margin-bottom: 0;
}
.minified .nav > li a {
  margin: 0;
}
.minified .header-navbar {
  padding: 5px 0 0 0;
  height: 45px;
}
.minified .header-contacts {
  padding: 0;
}
.minified .header-contacts a {
  margin-top: 5px;
}
.minified .header-logo {
  margin: 10px 0;
}
.minified .navbar-default {
  box-shadow: 0 1px 2px rgba(36, 145, 208, 0.6);
}
@media (max-width: 991px) {
  .header-logo {
    width: 70px;
    height: 70px;
    margin-top: 14px;
  }
  .header-logo-a {
    width: 70px;
    height: 70px;
  }
  .header-navbar {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .header-logo {
    width: 173px;
    height: 40px;
    margin: 5px 10px;
    text-align: center;
  }
  .header-logo-a {
    width: 173px;
    height: 40px;
  }
  .header-logo-a.-bg_size {
    background-size: 173px 40px;
  }
  .header-navbar {
    text-align: center;
    height: auto;
  }
  ._navbar :nth-child(n) {
    margin: 5px 5px 5px 5px;
  }
}
@media (max-width: 332px) {
  .header-logo-a {
    width: 100%;
  }
  .header-logo-a.-bg_size {
    background-size: contain;
  }
}
/*Header Styles End*/
/*Block Info Styles*/
.block_info {
  min-height: 570px;
  position: relative;
  /*background: url(../img/blok_info_bg.jpg) center center no-repeat transparent;*/
  /*background-size: cover;*/
}
.block_info-mask {
  height: 100%;
  position: relative;
  z-index: 555;
  background-color: rgba(52, 67, 122, 0.7);
}
.block_info-content {
  padding-top: 265px;
  padding-bottom: 122px;
  background: url(../img/layout/logo_info_block.svg) center 90px no-repeat;
}
.block_info-content.-bg_size {
  background-size: 120px 120px;
}
.block_info-title {
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #ffffff;
}
.block_info-title + .block_info-text {
  margin-top: 3.8%;
}
.block_info-text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.7;
  color: #ffffff;
}
.block_info .bx-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.block_info .bx-wrapper .bx-viewport {
  height: auto !important;
  max-height: 571px;
}
.block_info .bx-wrapper img {
  height: 571px;
}
.block_info .bx-wrapper .home_slider,
.block_info .bx-wrapper .home_slider > div {
  max-height: 571px !important;
  height: 571px !important;
}
.block_info .bx-wrapper .home_slider > div {
  background-size: cover;
  background-position: center center;
}
/*Block Info Styles End*/
/*Block Services Styles*/
.block_services-content {
  padding-top: 2%;
  padding-bottom: 6.3%;
}
.block_services-content > .block_services-gfp {
  margin-top: 5.5%;
}
.block_services-icon {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.block_services-icon._fp:after {
  background: rgba(99, 78, 158, 0.8);
}
.block_services-icon._t:after {
  background: rgba(25, 106, 152, 0.8);
}
.block_services-icon._os:after {
  background: rgba(27, 144, 68, 0.8);
}
.block_services-icon:after {
  position: absolute;
  z-index: 1;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  opacity: 0;
  border-radius: 100%;
}
.block_services-icon:before {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 0;
  position: absolute;
  z-index: 2;
  bottom: 100%;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  content: "Details";
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  opacity: 0;
  color: #ffffff;
  border-radius: 100%;
  background: url(../img/layout/service_icon_arrow.svg) center center no-repeat transparent;
  background-size: cover;
}
.block_services-icon + .block_services-text {
  margin-top: 10.8%;
}
.block_services-img {
  width: 100%;
  max-width: 200px;
}
@media (max-width: 767px) {
  .block_services-icon:before {
    font-size: 3.5vw;
  }
}
@media (max-width: 479px) {
  .block_services-icon:before {
    font-size: 4vw;
  }
}
.block_services-icon:hover:before {
  bottom: 0;
  opacity: 1;
}
.block_services-icon:hover:after {
  opacity: 1;
}
.block_services-a,
.block_services-a:hover,
.block_services-a:focus {
  display: block;
  text-decoration: none;
}
.block_services-text {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  display: block;
}
.block_services-text._fp {
  color: #997ee6;
}
.block_services-text._t {
  color: #2491d0;
}
.block_services-text._os {
  color: #19c355;
}
@media (max-width: 767px) {
  .block_services-text {
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .block_services-text {
    font-size: 4vw;
  }
}
.block_services-gfp,
.block_services-gfp:hover,
.block_services-gfp:focus {
  padding-left: 57px;
  background-image: url(../img/layout/btn_icon_gfp.svg);
  background-repeat: no-repeat;
  background-position: 23px center;
}
/*Block Services Styles End*/
/*Block About Styles*/
.block_about {
  min-height: 670px;
  background: #ebeff4;
}
.block_about-content {
  padding-top: 52px;
  padding-bottom: 82px;
}
.block_about-content > .block_about-title {
  margin-bottom: 55px;
}
.block_about-title {
  font-family: "Lato", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #035784;
}
.block_about-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  min-height: 195px;
  margin-bottom: 53px;
  color: #233a46;
}
.block_about-text br {
  display: block;
  margin: 25px 0;
  content: "";
}
.block_about-slogan {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 25px;
  max-width: 670px;
  height: auto;
  min-height: 50px;
  margin-right: auto;
  margin-bottom: 3.7%;
  margin-left: auto;
  padding: 10px 40px;
  color: #035784;
  border: 2px solid #99a5b5;
  border-radius: 50px;
}
.block_about-logos :nth-child(n) {
  margin: 10px 28px 10px 28px;
}
.about_photo {
  padding-bottom: 55px;
}
.about_photo-item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0 40px;
}
.about_photo-img {
  width: 160px;
  height: 160px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}
.about_photo-img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.about_photo-name {
  font-size: 14px;
  line-height: 20px;
  color: #233a46;
  padding-top: 11px;
}
.about_photo-name strong {
  font-size: 15px;
  font-weight: 600;
  display: block;
}
@media (max-width: 767px) {
  .about_photo-item {
    margin: 0 30px;
  }
}
@media (max-width: 479px) {
  .about_photo-item {
    margin: 0 0 40px 0;
    width: 100%;
  }
}
/*Block About Styles End*/
/*Block Foundational Processes*/
.block_fp._ph1 {
  background: #9269ce;
  background: -moz-linear-gradient(left, #9269ce 0%, #8863c8 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #9269ce), color-stop(100%, #8863c8));
  background: -webkit-linear-gradient(left, #9269ce 0%, #8863c8 100%);
  background: -o-linear-gradient(left, #9269ce 0%, #8863c8 100%);
  background: -ms-linear-gradient(left, #9269ce 0%, #8863c8 100%);
  background: linear-gradient(to right, #9269ce 0%, #8863c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9269ce', endColorstr='#8863c8', GradientType=1);
}
.block_fp._ph2 {
  background: #8863c8;
  background: -moz-linear-gradient(left, #8863c8 0%, #7959bf 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8863c8), color-stop(100%, #7959bf));
  background: -webkit-linear-gradient(left, #8863c8 0%, #7959bf 100%);
  background: -o-linear-gradient(left, #8863c8 0%, #7959bf 100%);
  background: -ms-linear-gradient(left, #8863c8 0%, #7959bf 100%);
  background: linear-gradient(to right, #8863c8 0%, #7959bf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8863c8', endColorstr='#7959bf', GradientType=1);
}
.block_fp._ph3 {
  background: #7959bf;
  background: -moz-linear-gradient(left, #7959bf 0%, #6b50b6 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #7959bf), color-stop(100%, #6b50b6));
  background: -webkit-linear-gradient(left, #7959bf 0%, #6b50b6 100%);
  background: -o-linear-gradient(left, #7959bf 0%, #6b50b6 100%);
  background: -ms-linear-gradient(left, #7959bf 0%, #6b50b6 100%);
  background: linear-gradient(to right, #7959bf 0%, #6b50b6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7959bf', endColorstr='#6b50b6', GradientType=1);
}
.block_fp._ph4 {
  background: #6b50b6;
  background: -moz-linear-gradient(left, #6b50b6 0%, #6149b0 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #6b50b6), color-stop(100%, #6149b0));
  background: -webkit-linear-gradient(left, #6b50b6 0%, #6149b0 100%);
  background: -o-linear-gradient(left, #6b50b6 0%, #6149b0 100%);
  background: -ms-linear-gradient(left, #6b50b6 0%, #6149b0 100%);
  background: linear-gradient(to right, #6b50b6 0%, #6149b0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b50b6', endColorstr='#6149b0', GradientType=1);
}
.block_fp-content {
  padding-top: 3.8%;
  padding-bottom: 3.8%;
}
.block_fp-img {
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
}
.block_fp-border {
  position: relative;
  min-height: 580px;
}
.block_fp-border:before {
  position: absolute;
  left: -4.5%;
  width: 1px;
  height: 100%;
  content: "";
  background: #d9c9f1;
}
@media (max-width: 991px) {
  .block_fp-border:before {
    left: -1.5%;
  }
}
@media (max-width: 767px) {
  .block_fp-border:before {
    display: none;
  }
  .block_fp-border {
    text-align: center;
  }
}
.block_fp-title {
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-top: 13px;
  color: #ffffff;
}
.block_fp-nav {
  padding: 4.4% 0 4.4% 0;
  list-style: none;
}
@media (max-width: 767px) {
  .block_fp-nav {
    text-align: center;
  }
}
.block_fp-nav-item {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 90px;
  margin: 0 23px 0 23px;
  padding-top: 69px;
  cursor: pointer;
  transition: color 250ms ease-in-out;
  text-align: center;
  vertical-align: top;
  color: #dadada;
  border-radius: 50%;
}
.block_fp-nav-item:first-child {
  margin-left: 0;
}
.block_fp-nav-item:last-child {
  margin-right: 0;
}
.block_fp-nav-item.-indent {
  text-indent: -5px;
}
.block_fp-nav-itemactive {
  color: #ffffff;
}
.block_fp-nav-itemactive:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .block_fp-nav-item {
    margin: 0 2.3% 0 2.3%;
  }
  .block_fp-nav-item:first-child {
    margin-left: 0;
  }
  .block_fp-nav-item:last-child {
    margin-right: 0;
  }
}
.block_fp-nav-item-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 60px;
  height: 60px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  border-radius: 50%;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}
.block_fp-nav-item-icon {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  -moz-transform: rotate3d(0, 0, 0, 0);
  -ms-transform: rotate3d(0, 0, 0, 0);
  -o-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.block_fp-nav-item.active .block_fp-nav-item-icon.-icon_01 .-front {
  background-color: #ffffff;
  background-image: url(../img/layout/block_fp_nav_icon_01_active.svg);
}
.block_fp-nav-item.active .block_fp-nav-item-icon.-icon_02 .-front {
  background-color: #ffffff;
  background-image: url(../img/layout/block_fp_nav_icon_02_active.svg);
}
.block_fp-nav-item.active .block_fp-nav-item-icon.-icon_03 .-front {
  background-color: #ffffff;
  background-image: url(../img/layout/block_fp_nav_icon_03_active.svg);
}
.block_fp-nav-item.active .block_fp-nav-item-icon.-icon_04 .-front {
  background-color: #ffffff;
  background-image: url(../img/layout/block_fp_nav_icon_04_active.svg);
}
.block_fp-nav-item.active:hover .block_fp-nav-item-icon {
  -webkit-transform: rotate3d(0, 0, 0, 0);
  -moz-transform: rotate3d(0, 0, 0, 0);
  -ms-transform: rotate3d(0, 0, 0, 0);
  -o-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
}
.block_fp-nav-item-icon > span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.block_fp-nav-item-icon .-back {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
  background-color: rgba(255, 255, 255, 0.15);
}
.block_fp-nav-item-icon.-icon_01 .-front,
.block_fp-nav-item-icon.-icon_01 .-back {
  background-image: url(../img/layout/block_fp_nav_icon_01.svg);
}
.block_fp-nav-item-icon.-icon_02 .-front,
.block_fp-nav-item-icon.-icon_02 .-back {
  background-image: url(../img/layout/block_fp_nav_icon_02.svg);
}
.block_fp-nav-item-icon.-icon_03 .-front,
.block_fp-nav-item-icon.-icon_03 .-back {
  background-image: url(../img/layout/block_fp_nav_icon_03.svg);
}
.block_fp-nav-item-icon.-icon_04 .-front,
.block_fp-nav-item-icon.-icon_04 .-back {
  background-image: url(../img/layout/block_fp_nav_icon_04.svg);
}
.block_fp-nav-item:hover {
  color: #ffffff;
}
.block_fp-nav-item:hover .block_fp-nav-item-icon {
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
  -o-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
}
.block_fp-phase {
  font-family: "Open Sans", sans-serif;
  max-width: 470px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .block_fp-phase {
    margin: 0 auto;
    text-align: left;
  }
}
.block_fp-phase-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 21px;
}
.block_fp-phase-text {
  font-size: 18px;
  font-weight: 600;
}
.block_fp-phase-text > p {
  margin-bottom: 17px;
}
.block_fp-phase-list {
  font-size: 18px;
  font-weight: 400;
  padding-left: 32px;
  list-style: none;
}
.block_fp-phase-list-item {
  position: relative;
  padding-bottom: 11px;
}
.block_fp-phase-list-item:before {
  position: absolute;
  top: 5px;
  left: -32px;
  display: block;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #ffffff;
}
.block_fp-phase-list-item ul {
  font-size: 13px;
  line-height: 23px;
  padding-left: 18px;
  list-style: none;
}
.block_fp-phase-list-item ul li:before {
  position: relative;
  left: -5px;
  content: "-";
}
/*Block Foundational Processes End*/
/*Block Training Processes*/
.block_training-content {
  padding-top: 3.1%;
  padding-bottom: 3.1%;
}
.block_training-img {
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
}
.block_training-title {
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-top: 22px;
  margin-bottom: 26px;
  color: #2491d0;
}
.block_training-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  min-height: 382px;
  color: #233a46;
}
.block_training-text > p {
  line-height: 28px;
}
.block_training-list {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 21px;
  padding-left: 32px;
  list-style: none;
  color: #233a46;
}
.block_training-list-item {
  position: relative;
  padding-bottom: 13px;
}
.block_training-list-item:before {
  position: absolute;
  top: 5px;
  left: -32px;
  display: block;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: #2491d0;
}
@media (max-width: 767px) {
  .block_training-wrap {
    text-align: center;
  }
  .block_training-text,
  .block_training-list {
    text-align: left;
  }
}
/*Block Training Processes End*/
/*Block Operational Support*/
.block_os {
  background: #ebeff4;
}
.block_os-content {
  padding-top: 3.2%;
  padding-bottom: 5%;
}
.block_os-img {
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
}
.block_os-title {
  font-family: "Lato", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-top: 22px;
  margin-bottom: 26px;
  color: #19c355;
}
.block_os-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  min-height: 112px;
  color: #233a46;
}
@media (max-width: 767px) {
  .block_os-wrap {
    text-align: center;
  }
  .block_os-text {
    text-align: left;
  }
}
/*Block Operational Support End*/
/*Block Projects*/
.block_projects {
  background: #ebeff4;
  background: #319bda;
  background: -moz-linear-gradient(left, #319bda 0%, #2491d0 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #319bda), color-stop(100%, #2491d0));
  background: -webkit-linear-gradient(left, #319bda 0%, #2491d0 100%);
  background: -o-linear-gradient(left, #319bda 0%, #2491d0 100%);
  background: -ms-linear-gradient(left, #319bda 0%, #2491d0 100%);
  background: linear-gradient(to right, #319bda 0%, #2491d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@c48', endColorstr='@c33', GradientType=1);
}
.block_projects-content {
  padding-top: 52px;
  padding-bottom: 117px;
}
.block_projects-content > .block_projects-title {
  margin-bottom: 53px;
}
.block_projects-title {
  font-family: "Lato", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
}
.block_projects-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  min-height: 84px;
  color: #ffffff;
}
.block_projects-content > .block_projects-slider {
  margin-top: 106px;
}
.block_projects-slider {
  position: relative;
  display: block;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding-top: 12px;
  border-radius: 7px;
  background: #3eb3ea;
}
.block_projects-slider .bx-wrapper {
  position: relative;
}
.block_projects-slider .bx-pager {
  position: absolute;
  top: -30px;
  right: 17px;
}
.block_projects-slider .bx-pager-item {
  display: inline-block;
}
.block_projects-slider .bx-pager-link {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 0 0 10px;
  vertical-align: top;
  text-indent: -99999px;
  border-radius: 50%;
  background: #3ec0ea;
}
.block_projects-slider .bx-pager-link:hover {
  background: #ffffff;
}
.block_projects-slider .bx-pager-link:hover > .slider_tooltip {
  display: block;
}
.block_projects-slider .bx-pager-link.active:before {
  position: absolute;
  top: -4px;
  left: -2px;
  width: 14px;
  padding-top: 14px;
  content: "";
  border-radius: 50%;
  background: #ffffff;
}
.block_projects-slider .slider_tooltip {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-indent: 0;
  text-align: center;
  line-height: 30px;
  position: absolute;
  width: 120px;
  height: 30px;
  background: #233a46;
  display: none;
  border-radius: 3px;
  top: -45px;
  left: -92px;
  color: #ffffff;
}
.block_projects-slider .slider_tooltip:after {
  content: "";
  height: 0;
  width: 0;
  top: 29px;
  left: 92px;
  display: block;
  position: absolute;
  border-top: 6px solid #233a46;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.block_projects-slider .bx-prev {
  position: absolute;
  top: 46%;
  left: -70px;
  width: 22px;
  height: 42px;
  text-indent: -99999px;
  background: url(../img/layout/slider_prev.svg) center center no-repeat;
}
.block_projects-slider .bx-prev:hover,
.block_projects-slider .bx-prev:focus {
  background: url(../img/layout/slider_prev_a.svg) center center no-repeat;
}
.block_projects-slider .bx-next {
  position: absolute;
  top: 46%;
  right: -70px;
  width: 22px;
  height: 42px;
  text-indent: -99999px;
  background: url(../img/layout/slider_next.svg) center center no-repeat;
}
.block_projects-slider .bx-next:hover,
.block_projects-slider .bx-next:focus {
  background: url(../img/layout/slider_next_a.svg) center center no-repeat;
}
@media (max-width: 1109px) {
  .block_projects-slider .bx-prev {
    left: 20px;
    background: url(../img/layout/slider_prev_i.svg) center center no-repeat;
  }
  .block_projects-slider .bx-next {
    right: 20px;
    background: url(../img/layout/slider_next_i.svg) center center no-repeat;
  }
}
.block_projects-slider:before {
  position: absolute;
  top: -25px;
  left: 16px;
  display: block;
  width: 183px;
  height: 25px;
  content: "";
  background: url(../img/layout/slider_header.svg) center center no-repeat;
}
.block_projects-slider .bx-viewport {
  border-radius: 7px;
}
.block_projects-slider-item {
  width: 100%;
  padding-top: 61px;
  /*border-radius: 7px;*/
  background: #ffffff;
}
.block_projects-slider-title {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 22px;
  display: block;
  color: #2491d0;
}
.block_projects-slider-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: block;
  padding: 19px 60px 0;
  color: #233a46;
}
.block_projects-slider-text > p {
  min-height: 80px;
  margin-bottom: 18px;
}
.block_projects-slider-imgs {
  display: block;
  margin-bottom: 53px;
}
.block_projects-slider-imgs-wrap {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
}
.block_projects-slider-imgs-wrap span {
  line-height: 107px;
  display: inline-block;
  width: 200px;
  height: 107px;
  margin: 0 15px 10px 15px;
  vertical-align: top;
}
/*Block Projects End*/
/*Block Contacts*/
.block_contacts {
  background: #233a46;
}
.block_contacts-content {
  padding-top: 52px;
  padding-bottom: 87px;
  background: url(../img/contacts_bg.png) 854px 100% no-repeat;
}
.block_contacts-content > .block_contacts-title {
  margin-bottom: 45px;
}
.block_contacts-content > .block_contacts-text {
  margin-bottom: 79px;
}
.block_contacts-title {
  font-family: "Lato", sans-serif;
  font-size: 42px;
  font-weight: 400;
  color: #ffffff;
}
.block_contacts-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.block_contacts-text > p {
  padding: 0 60px 0 60px;
}
.block_contacts-info {
  font-size: 14px;
  line-height: 26px;
}
.block_contacts-info-item {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
}
.block_contacts-info-item > span {
  font-size: 14px;
  display: inline-block;
  width: 72px;
  vertical-align: bottom;
  color: #72859f;
}
.block_contacts-info-item > strong {
  font-weight: 600;
  letter-spacing: 0.05em;
}
.block_contacts-btn {
  margin-top: 51px;
}
/*Block Contacts End*/
/*Block Clients*/
.block_clients-content {
  padding-top: 21px;
  padding-bottom: 58px;
}
.block_clients-content > .block_clients-title {
  margin-bottom: 25px;
}
.block_clients-title {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.block_clients-slider-item {
  line-height: 90px;
  height: 90px;
}
.block_clients-slider {
  position: relative;
  display: block;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  background: #ffffff;
}
.block_clients-slider .bx-wrapper {
  position: relative;
}
.block_clients-slider .bx-pager {
  display: none;
}
.block_clients-slider .bx-prev {
  position: absolute;
  top: 29%;
  left: -70px;
  width: 21px;
  height: 42px;
  text-indent: -99999px;
  background: url(../img/layout/slider_prev.svg) center center no-repeat;
}
.block_clients-slider .bx-prev:hover,
.block_clients-slider .bx-prev:focus {
  background: url(../img/layout/slider_prev_a.svg) center center no-repeat;
}
.block_clients-slider .bx-next {
  position: absolute;
  top: 29%;
  right: -70px;
  width: 21px;
  height: 42px;
  text-indent: -99999px;
  background: url(../img/layout/slider_next.svg) center center no-repeat;
}
.block_clients-slider .bx-next:hover,
.block_clients-slider .bx-next:focus {
  background: url(../img/layout/slider_next_a.svg) center center no-repeat;
}
@media (max-width: 1109px) {
  .block_clients-slider .bx-prev {
    left: 0;
  }
  .block_clients-slider .bx-next {
    right: 0;
  }
}
/*Block Clients End*/
/*Footer Styles*/
.footer-navbar {
  background: #233a46;
}
.footer-navbar ._navbar-item {
  color: #ffffff;
}
.footer-navbar ._navbar-item:hover,
.footer-navbar ._navbar-item:focus {
  background: #1b2f39;
}
.footer-navbar ._navbar-item.active {
  border-color: #ffffff;
  background: none;
}
.footer-navbar-content {
  padding-top: 43px;
  padding-bottom: 47px;
}
.footer-socials {
  background: #1b2f39;
}
.footer-socials-content {
  padding-top: 78px;
  padding-bottom: 34px;
}
.footer-socials-text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 53px;
  color: #72859f;
  background: url(../img/layout/logo_footer.svg) top center no-repeat;
}
.footer-socials-btns {
  margin-bottom: 93px;
}
.footer-socials-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 15px 0 15px;
  border-radius: 50%;
}
.footer-socials-item._fb {
  background: url(../img/layout/icon_fb.svg) center center no-repeat;
}
.footer-socials-item._fb:hover,
.footer-socials-item._fb:focus {
  background: url(../img/layout/icon_fb_a.svg) center center no-repeat;
}
.footer-socials-item._tw {
  background: url(../img/layout/icon_tw.svg) center center no-repeat;
}
.footer-socials-item._tw:hover,
.footer-socials-item._tw:focus {
  background: url(../img/layout/icon_tw_a.svg) center center no-repeat;
}
.footer-socials-item._in {
  background: url(../img/layout/icon_in.svg) center center no-repeat;
}
.footer-socials-item._in:hover,
.footer-socials-item._in:focus {
  background: url(../img/layout/icon_in_a.svg) center center no-repeat;
}
/*Footer Styles End*/
/*Modal Styles*/
@media (min-width: 992px) {
  .modal-lg {
    width: 970px;
  }
}
@media (min-width: 992px) {
  .modal-sm {
    width: 670px;
  }
}
.form-group {
  position: relative;
}
.form-group .error {
  display: none;
}
.form-group.has-error .error {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 48px;
  left: 30px;
  display: block;
  color: #dc452c;
}
.form-group.has-error input {
  color: #dc452c;
  border-color: #dc452c;
}
.form-group.has-error input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  margin-bottom: 20px;
  padding-right: 28px;
  padding-left: 28px;
  color: #233a46;
  border: 2px solid #c7cdd5;
  border-radius: 25px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  border: 2px solid #3ec0ea;
  -webkit-box-shadow: none;
  box-shadow: none;
}
textarea.form-control {
  font-size: 16px;
  height: 140px;
  padding-top: 12px;
  padding-bottom: 17px;
  resize: none;
}
.modal .close {
  width: 50px;
  height: 50px;
  background: url(../img/layout/modal_close.svg) center center no-repeat;
}
.modal .close:hover,
.modal .close:focus {
  background: url(../img/layout/modal_close_a.svg) center center no-repeat;
}
.modal .modal-title {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  margin-top: 20px;
  color: #2491d0;
}
.modal .modal-header {
  padding-bottom: 0;
  border: none;
}
.modal .modal-body {
  padding-top: 8px;
  padding-bottom: 0;
}
.modal .modal-body > p {
  font-size: 14px;
  line-height: 24px;
  max-width: 762px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  color: #72859f;
}
.modal .form-group {
  width: 100%;
  max-width: 570px;
  margin-right: auto;
  margin-left: auto;
}
.modal .form-control {
  width: 100%;
  max-width: 570px;
  margin-right: auto;
  margin-left: auto;
}
.modal .modal-footer {
  padding-top: 10px;
  padding-bottom: 70px;
  text-align: center;
  border: none;
}
.modal .btn-primary {
  width: 100%;
  max-width: 270px;
}
.modal .btn-link {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-decoration: underline;
  color: #2491d0;
}
.modal .btn-link:hover,
.modal .btn-link:focus {
  color: #19c355;
  background: none;
}
.modal_send_confirm .modal-title {
  margin-top: 44px;
  margin-bottom: 20px;
}
.modal_send_confirm .modal-body > p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 39px;
  color: #19c355;
  flex-shrink: 24px;
}
.modal_send_confirm .modal-footer {
  padding-bottom: 70px;
}
/*Modal Styles End*/
.loading_in_progress {
  height: 100%;
  overflow: hidden;
  background: #ffffff url(../img/layout/loader.gif) no-repeat center center;
}
.loading_in_progress body {
  opacity: 0;
}
.wow {
  visibility: hidden;
}
.linked_in {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background: #2491d0 url(../img/layout/linked.svg) no-repeat center center;
  border-radius: 50%;
}
.linked_in:hover {
  background-color: #056CA1;
}
