/*
Theme Name: Odyssey
Author: bvblogic team
Text Domain: twentythirteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/


/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Basic Structure
 * 4.0 - Header
 *   4.1 - Site Header
 *   4.2 - Navigation
 * 5.0 - Content
 *   5.1 - Entry Header
 *   5.2 - Entry Meta
 *   5.3 - Entry Content
 *   5.4 - Galleries
 *   5.5 - Post Formats
 *   5.6 - Attachments
 *   5.7 - Post/Paging Navigation
 *   5.8 - Author Bio
 *   5.9 - Archives
 *   5.10 - Search Results/No posts
 *   5.11 - 404
 *   5.12 - Comments
 *   5.13 - Multisite
 * 6.0 - Sidebar
 *   6.1 - Widgets
 * 7.0 - Footer
 * 8.0 - Media Queries
 * 9.0 - Print
 * ----------------------------------------------------------------------------
 */


/**
 * 1.0 Reset
 *
 * Modified from Normalize.css to provide cross-browser consistency and a smart
 * default styling of HTML elements.
 *
 * @see http://git.io/normalize
 * ----------------------------------------------------------------------------
 */

 #music-player{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
 .pattern-overlay {
    background: url(img/pattern.png) repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}
/* TOUR DATES*/
.date-block {
        width: 20%;
        height: 100%;
        float: left;
        text-align: center;
    }
    .tour-date .date-block span {
        display: block;
        width: 100%;
        text-align: center;
        margin:0;
        padding:3px 0;
        font-size:1.2em;
    }
    .tour-date .date-block span.date-number {
        font-size: 3em;
        line-height: 35px;
    }
    .tour-date .date-block span.date-month,
    .tour-date .date-block span.date-year {
        font-size: 1.2em;
        line-height: 14px;
        text-align: left;
    }
    .tour-date .date-block span.date-month {
        font-weight: bold;
    }
    .tour-date .date-block span.date-year {
        font-weight: normal;
    }
    .tour-date .date-block span.date-day {
        font-size:2em;
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    .date-left{
        float:left;
    }
    .date-right{
        float:left;
        margin: 0 0 0 5px;
    }
    span.event-city {
        display: inline-block;
        width: 60%;
        margin:0;
        padding:0;
    }
    .item.tour h4{
        margin-right:20px;
        text-transform: uppercase;
        font-weight:700;
        font-size:1.2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }    
    .item.tour h5{
        margin:5px 20px 0 0px;
        padding:0px 5px;
        font-size:.85em;
        display:inline-block;
        background: white;
        color:#000;
        text-transform: uppercase;
        font-weight:300;
    }
    
    .item.tour span{
        margin:5px 20px 0 0px;
        padding:0;
        display:block;
        text-transform: uppercase;
        font-weight:300;
    }
    span.event_location{
        font-weight: 700;
    }
    span.event_date {
        margin:0px 20px 0 0px;
    }
.tour-content {
    width: 100%;
    padding-bottom: 190px;
    position: relative;
    z-index: 999;
}

.tour-list {
    width: 80%;
    background: rgba(0,0,0,0.7);
    position: relative;
    left:10%;
    height: 650px;
    overflow: hidden;
    
}

.filters a.current {
    background: #000;
    color: #fff;
}

.filters {
    width: 100%;
    padding: 20px 40px;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.filters a {
    text-decoration: none;
    display: inline-block;
}

.filters a.empty {
    opacity: .5;
    background: #000;
    color: #fff;
    cursor: inherit;
}

.filters a span {
    display: inline-block;
}

.scroll-tour::-webkit-scrollbar {
    display:none;
} 

.scroll-tour {
    position: relative;
    overflow: scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 65px);

}

.tour-list.menu-open {
    height: 50vh;
    bottom: 220px;
}

.tour-list ul {
    width: 100%;
    height: auto;
    padding: 0 0 50px 0;
    margin:0;
}

.tour-list ul.scroll {
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}

.tour-list ul li{
    list-style: none;
    padding:0 20px;
    border-bottom: 2px solid #fff;
    /*background:#0C0D10;*/
    color:#fff;
}

.tour-list ul li:last-child {
    border: none;
}

.tour-date {
    font-size: 16px;
    padding:20px 0;
    display: inline-block;
    width: 100%;
}

.tour-date span,
.tour-date span h5,
.tour-date span h4 {
    margin:-1px 0 0 10px ;
    padding-right: 20px;
    font-size: 20px;
    line-height: 22px;
    /*border-right: 1px solid #fff;*/
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    text-transform: uppercase;
    font-weight: lighter !important;
}

.tour-date span {
    font-size: 25px;
    line-height: 22px;
}

.tour-date a.tour-button span {
    margin:0;
    padding: 0;
    font-size: 20px;
}

.tour-button {
    display: inline-block;
    padding: 10px !important;
}

.tour-date span:nth-child(3),
.tour-date span:last-child {
    border: none;
}

a.music-icons {
    width: 40px;
    background: #fff;
    color: transparent;
    margin: 0 2px;
    display: block;
    float: right;
}

a.music-icons:hover {
    background:#000;
    color: transparent;
}

a.button-event {
    width: auto;
    padding: 5px 10px;
    color: #000;
    font-size: .7em;
    background: #fff;
    cursor:pointer;
}
a.button-event.empty{
    cursor:auto;
}
a.button-event:hover {
    color: #fff;
    background: #000;
}

a.button-event.active{
    background: #000;
    color: #fff;
}

.mask {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.skew {
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.skew-back {
    -webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

.back-img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: skew(0deg) !important;
    background: #000;
    opacity: .3;
    position: absolute !important;
    top:0;
    left: 0;
    z-index: -1;
}


.wp-social-login-provider-list a{
    width: 45px;
    height: 45px;
    background: #000;
    text-indent: -9999px;
    white-space: nowrap;
    display:inline-block;
    background-position:center center;
    background-repeat:no-repeat;
    border:solid 1px #000;
    margin-right:10px;
}

.wp-social-login-provider-list a:hover{
    
}

a.wp-social-login-provider-facebook{
    background-image:url(../img/ico/FB-AJ_32x32-wit.png);
}
a.wp-social-login-provider-facebook:hover{
    background-image:url(../img/ico/FB-AJ_32x32-blk.png);
}

a.wp-social-login-provider-twitter{
    background-image:url(../img/ico/TW-AJ_32x32-wit.png);
}
a.wp-social-login-provider-twitter:hover{
    background-image:url(../img/ico/TW-AJ_32x32-blk.png);
}

a.wp-social-login-provider-instagram{
    background-image:url(../img/ico/IG-AJ_32x32-wit.png);
}
a.wp-social-login-provider-instagram:hover{
    background-image:url(../img/ico/IG-AJ_32x32-blk.png);
}
a.wp-social-login-provider-youtube{
    background-image:url(../img/ico/YT-AJ_32x32-wit.png);
}
a.wp-social-login-provider-youtube:hover{
    background-image:url(../img/ico/YT-AJ_32x32-blk.png);
}
a.wp-social-login-provider-soundcloud{
    background-image:url(../img/ico/SC-AJ_32x32-wit.png);
}
a.wp-social-login-provider-soundcloud:hover{
    background-image:url(../img/ico/SC-AJ_32x32-blk.png);
}
a.wp-social-login-provider-beatport{
    background-image:url(../img/ico/BP-AJ_32x32-wit.png);
}
a.wp-social-login-provider-beatport:hover{
    background-image:url(../img/ico/BP-AJ_32x32-blk.png);
}

 
 .block_projects-slider img{
 	max-height: 80px;
    max-width: 180px;
 }

 #sendMessage .form-group span.wpcf7-not-valid-tip{
 	font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 48px;
    left: 30px;
    display: block;
    color: #dc452c;
 }

 #sendMessage span.wpcf7-form-control-wrap{
 	position: initial;
 }
 #sendMessage .form-group textarea + span.wpcf7-not-valid-tip {
	top: 140px;
}

 #sendMessage input.wpcf7-not-valid,
 #sendMessage textarea.wpcf7-not-valid{
  	color: #dc452c;
    border-color: #dc452c;
  }

.nav ._navbar-item{
    background: black;
    color: white;
    border: 1px solid white;
    transition: all .1s ease-in-out;
    text-transform: uppercase;
    padding: 2px 8px;
    height: auto;
    width: auto;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
    display: inline-block;
    font-weight: 400;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    margin-left: -6px;
    border-radius: 0;
}



.slick-slide {
    overflow: hidden;
    float: left;
    min-height: 1px;
    background: #000;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.block_clients-slider .bx-viewport{
    margin-left: 8%;
    margin-right: 8%;
    max-width: 84%;
}
.block_clients-slider .bx-controls-direction a{
    top: 45%;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe,
.videoWrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
video {
  width: 100%    !important;
  height: auto   !important;
}
.scrollable { position:relative; margin:0px auto; padding:0px; width: 600px; height: 400px; overflow: hidden; }
.scrollable .content { width: auto; height: 720px; }

#jp_container_1{
  width: 100%;
  max-width: 970px;
  margin: 80px auto;
}

#jp_container_1 .jp-progress{
    width: 100%;
}

#jp_container_1 .jp-playlist ul li{
    padding: 8px 20px;
    font-size: 14px;
    margin: 0;
}
#jp_container_1 .jp-volume-bar{
    top: -2px;
    left: 12px;
} 
#jp_container_1 .jp-volume-controls{
    height: 20px;
}     
#jp_container_1 .jp-controls{
    height: 36px;
    margin-bottom: 7px;
}

.sc-background-light{
	display:none;
}

.waveform__scene{
	display:none;
}
.visualAudible__body{
z-index:0!important;
}