@f_lato: "Lato", sans-serif;
@f_os: "Open Sans", sans-serif;

@bg: #ffffff;

@c11: #e1d6ff;
@c12: #d3c3ff;
@c13: #c4afff;
@c14: #997ee6;
@c15: #5266b2;
@c16: #34437a;
@c21: #76f084;
@c22: #34db47;
@c23: #19c355;
@c24: #15aa77;
@c25: #047984;
@c26: #064f56;
@c31: #88dbf6;
@c32: #3ec0ea;
@c33: #2491d0;
@c34: #056ca1;
@c35: #035784;
@c36: #233a46;
@c41: #e2e7ed;
@c42: #c7cdd5;
@c43: #99a5b5;
@c44: #72859f;

@c45: #ebeff4;
@c46: #d9c9f1;
@c47: #dadada;
@c48: #319bda;
@c49: #1b2f39;

@cg1: #a37ddf;
@cg2: #9772d7;
@cg3: #8363cb;
@cg4: #7154bf;
@cg5: #644ab6;

@bg_slider: #3eb3ea;